<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox">
		<!-- RYCHLE SPUSTENI -->
		<menu execute="~/.config/openbox/pipe/todo.rb" id="todo" label="TODO"/>
		<menu execute="~/.config/openbox/pipe/gtk_bookmarks.rb" id="gkt_bookmarks" label="Thunar"/>
		<menu execute="~/.config/openbox/pipe/kill.rb" id="kill-menu" label="Kill menu"/>
		<separator/>
		<!-- INTERNET -->
		<menu id="internet" label="Internet">
			<menu execute="~/.config/openbox/pipe/ff_bookmarks.rb" id="Bookmarks" label="Bookmarks"/>
			<item label="Flock">
				<action name="Execute">
					<execute>
						flockbrowser
					</execute>
				</action>
			</item>
			<item label="Gajim">
				<action name="Execute">
					<execute>
						gajim
					</execute>
				</action>
			</item>
			<separator/>
			<item label="Firestarter">
				<action name="Execute">
					<execute>
						gksu firestarter
					</execute>
				</action>
			</item>
		</menu>
		<!-- MULTIMEDIA -->
		<menu id="multimedia" label="Multimedia">
			<item label="Gimmix">
				<action name="Execute">
					<execute>
						gimmix
					</execute>
				</action>
			</item>
			<item label="Sonata">
				<action name="Execute">
					<execute>
						sonata
					</execute>
				</action>
			</item>
			<item label="GThumb">
				<action name="Execute">
					<execute>
						gthumb
					</execute>
				</action>
			</item>
			<item label="The GIMP">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
		</menu>
		<!-- OFFICE -->
		<menu id="office" label="Office tools">
			<menu id="oo" label="OpenOffice">
				<item label="Writer">
					<action name="Execute">
						<execute>
							soffice -writer
						</execute>
					</action>
				</item>
				<item label="Impress">
					<action name="Execute">
						<execute>
							soffice -impress
						</execute>
					</action>
				</item>
				<item label="Calc">
					<action name="Execute">
						<execute>
							soffice -calc
						</execute>
					</action>
				</item>
				<item label="Base">
					<action name="Execute">
						<execute>
							soffice -base
						</execute>
					</action>
				</item>
				<item label="Math">
					<action name="Execute">
						<execute>
							soffice -math
						</execute>
					</action>
				</item>
				<item label="Draw">
					<action name="Execute">
						<execute>
							soffice -draw
						</execute>
					</action>
				</item>
				<item label="Templates">
					<action name="Execute">
						<execute>
							soffice slot:5500
						</execute>
					</action>
				</item>
			</menu>
			<item label="FreeMind">
				<action name="Execute">
					<execute>
						freemind
					</execute>
				</action>
			</item>
			<item label="Abiword">
				<action name="Execute">
					<execute>
						abiword
					</execute>
				</action>
			</item>
		</menu>
		<!-- SYSTEM -->
		<menu id="system" label="System">
			<menu execute="~/.config/openbox/pipe/administration.rb" id="administration" label="Administration"/>
			<item label="GParted">
				<action name="Execute">
					<execute>
						gksu gparted
					</execute>
				</action>
			</item>
			<item label="Kernel">
				<action name="Execute">
					<execute>
						gksu ~/.config/openbox/kernel.sh
					</execute>
				</action>
			</item>
		</menu>
		<!-- DEVELOPMENT -->
		<menu id="develop" label="Development">
			<menu id="IDE" label="IDE">
				<item label="MonoDevelop">
					<action name="Execute">
						<execute>
							monodevelop
						</execute>
					</action>
				</item>
				<item label="Eclipse">
					<action name="Execute">
						<execute>
							eclipse
						</execute>
					</action>
				</item>
			</menu>
			<item label="Glade">
				<action name="Execute">
					<execute>
						glade-3
					</execute>
				</action>
			</item>
			<item label="Dia">
				<action name="Execute">
					<execute>
						dia
					</execute>
				</action>
			</item>
		</menu>
		<!-- PRISLUSENSTVI -->
		<menu id="prislusenstvi" label="Accessories">
			<!-- Shelly -->
			<item label="Rxvt (tabbed)">
				<action name="Execute">
					<execute>
							urxvt-tabbed
					</execute>
				</action>
			</item>
			<item label="Gnome terminal">
				<action name="Execute">
					<execute>
							gnome-terminal
					</execute>
				</action>
			</item>
			<separator/>
			<item label="Tux Commander">
				<action name="Execute">
					<execute>
						tuxcmd
					</execute>
				</action>
			</item>
		</menu>
		<!-- DALSI ... -->
		<separator/>
		<menu id="ob" label="Openbox">
			<menu execute="~/.config/openbox/pipe/debug.rb" id="Openbox debug" label="Debugger"/>
			<separator/>
			<item label="Obconf">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Obtuner">
				<action name="Execute">
					<execute>
						obtuner
					</execute>
				</action>
			</item>
			<item label="Obmenu">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<separator/>
			<item label="GTK theme">
				<action name="Execute">
					<execute>
						gtk-chtheme
					</execute>
				</action>
			</item>
		</menu>
		<menu execute="~/.config/openbox/pipe/bgmenu.rb" id="background" label="Background"/>
		<!--
  <menu id="screen" label="Screen controller" execute="~/.config/openbox/pipe/screen_controller.pl" />
  -->
		<menu id="exit" label="Power off">
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Power off">
				<action name="Execute">
					<execute>
							gksu halt
					</execute>
				</action>
			</item>
			<item label="Reboot">
				<action name="Execute">
					<execute>
							gksu reboot
					</execute>
				</action>
			</item>
			<item label="Suspend to RAM">
				<action name="Execute">
					<execute>
							powersave -u
					</execute>
				</action>
			</item>
			<item label="Suspend to disk">
				<action name="Execute">
					<execute>
							powersave -U
					</execute>
				</action>
			</item>
		</menu>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
	</menu>
</openbox_menu>
